* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.countryDetails {
  padding: 20px;
  background-color: #ffffff;
  color: #333333;
  font-family: Arial, sans-serif;
}

.activeDark {
  background-color: #333333;
  color: #ffffff;
}

.countryData {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.countryData img {
  width: 500px;
  height: inherit;
    height: 300px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bold {
  font-weight: bold;
}

.bottomMargin {
  margin-bottom: 8px;
}

.innerDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  /* border: 1px solid; */
  height: 15em;
}

.innerChild {
  display: flex;
  justify-content: space-between;
}

.innerChild div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.btn {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.btn:hover {
  background-color: #e0e0e0;
}

.btn:active {
  background-color: #d0d0d0;
}

.border {
  margin: 0 10px;
}
