*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color:inherit
}


body{
  /* height: 100vh; */
  font-family: 'Ubuntu', sans-serif;
}



.search-and-filter{
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  flex-wrap: wrap;
}


nav{
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  /* background-color: #ffffff; */
  box-shadow: 0 5px 5px gray;
}

.bottom-border{
  border-bottom: 1px solid #ffffff;
}

nav div{
  display: flex;
  gap: 1em;
  color: #333333;

} 

.countries{
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: 1em 2em;
  justify-content: center;
  min-height: 100vh;
}






.country{
  height: 19em;
  width: 15em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px gray;
  padding-bottom: 1em;
}


#search,#filter{
  height: 3em;
}

#search{
}

#filter{
  box-shadow: 0 0 10px  #7b7b7b;
  border: none;
  flex-basis: 20%;
  
  border-radius: 0.2rem;
  box-shadow: 0 0 10px  #7b7b7b;
}

#filter:focus{
  outline: none;
}

.country:hover{
  cursor: pointer;
}

.country img{
  height: 8em;
  margin-bottom: 10px;
}

.country p{
  margin-left: 10px;
}

.bold{
  font-weight: bold;
}

.largerFontSize{
  font-size: larger;
}

.bottomMargin{
  margin-bottom: 1em;
}

.headerDiv{
  box-shadow: 0 0 3px gray;
  background-color: #f3f3f3;
  padding: 5px;
  border: none;
}



.headerDiv:hover{
  cursor: pointer;
}

li{
  list-style-type: none;
}

/*  input search */

input[type="search"]:focus {
  outline: none;
  
}
input[type="search"]{
  border: none ;

  flex-basis:30%;

  border-radius: 0.2rem;
  box-shadow: 0 0 10px  #7b7b7b;

  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  
  
}



/* loader */

.loaderClass{
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  align-self: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.activeDark{
  background-color: #313338;
  color: #ffffff;
}

.deactiveDark{
  background-color: #fafafa;
}

.active{
  display: block;
}

.deactive{
  display: none;
}

